
<div>
    <mat-grid-list cols="12" rowHeight="100vh">
        <mat-grid-tile [colspan]="isMobile ? 1 : 3"></mat-grid-tile>
        <mat-grid-tile [colspan]="isMobile ? 10 : 6">
            <div class="frontpage-card-wrapper">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Should I bike to work today?</mat-card-title>
                        <mat-card-subtitle>What a good question!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>We would really like to help you with figuring out, whether you should bike to work!</p>
                        <p>However, to do that, we will need your home address and work address.</p>
                        <p>We don't store any information unless you create a profile or allow us to.</p>
                        <div>
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Home address</mat-label>
                                  <input matInput [formControl]="homeAddress" required placeholder="Some Street 1">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Work address</mat-label>
                                    <input matInput [formControl]="workAddress" required placeholder="Other Street 2">
                                  </mat-form-field>
                            </form>
                        </div>
                        <mat-checkbox [(ngModel)]="storeAddressInLocalStorage" class="example-margin">Remember my addresses in browser (Only matters for non-profile)</mat-checkbox>
                      </mat-card-content>
                    <mat-card-actions>
                        <button (click)="GetWeatherRecommendation()" mat-button>Should I bike to work?</button>
                        <button (click)="ClearFormular()" mat-button>Clear</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="isMobile ? 1 : 3"></mat-grid-tile>
    </mat-grid-list>
</div>
